
@{
    Layout = null;
}
@model UserRegistryViewModel

    <div class="col-md-6 d-flex mt-4 mt-md-0" id="div1">
        <div class="card flex-grow-1 mb-0">
            <div class="card-body">
                <h3 class="card-title">ثبت نام</h3>
                <form asp-action="RegistryConfirm" asp-controller="Account" >
                    <div class="form-group">
                        <label>آدرس ایمیل</label>
                        <input asp-for="UserName" type="email" class="form-control" placeholder="ایمیل را وارد کنید">
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <label>نام</label>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="نام را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>نام خانوادگی</label>
                        <input asp-for="LastName" type="text" class="form-control" placeholder="نام خانوادگی را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>شماره موبایل</label>
                        <input asp-for="Tel" type="text" class="form-control" placeholder="شماره موبایل را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>تاریخ تولد</label>
                        <input asp-for="BirthDate" type="date" class="form-control" placeholder="تاریخ تولد را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>رمز عبور</label>
                        <input asp-for="Pass" type="password" class="form-control" placeholder="رمز عبور را وارد کنید">
                        <span asp-validation-for="Pass"></span>

                    </div>
                    <div class="form-group">
                        <label>تکرار رمز عبور</label>
                        <input asp-for="RePass" type="password" class="form-control" placeholder="رمز عبور را وارد کنید">
                        <span asp-validation-for="RePass"></span>

                    </div>
                    <button type="submit" class="btn btn-success mt-4">ثبت نام</button>
                </form>
            </div>
        </div>
    </div>
