
@{
    ViewData["Title"] = "تایید ایمیل آدرس";
}
<div class="container">
    <div class="col-md-12 d-flex">
        <div class="card flex-grow-1 mb-md-0">
            <div class="card-body">
                <h3 class="card-title">تایید ایمیل آدرس</h3>
                <label style="text-align:right">ایمیلی برایتان ارسال گردید.</label>
                <br />
                <label style="text-align:right">لطفا وارد ایمیلتان شوید و روی لینک ارسال شده کلیک کنید تا فرایند ثبت نام تان تکمیل شود. </label>
            </div>
        </div>
    </div>
</div>

