
@{
    ViewData["Title"] = "security1";
}

@*<div class="site__body">
    <div class="container col-md-10 d-flex">
        <div class="card flex-grow-1 mb-md-0">
            <div class="card-body">
                <h3 class="card-title">بازیابی رمز عبور</h3>
                <form asp-action="Security2" asp-controller="Account">
                    <div class="form-group">
                        <label>آدرس ایمیل</label>
                        <input name="UserName" type="email" class="form-control" placeholder="ایمیل را وارد کنید">
                    </div>

                    <button type="submit" class="btn btn-success mt-4">ادامه</button>
                </form>
            </div>
        </div>
    </div>
</div>*@
<div class="site__body">
    <div class="block">
        <div class="container">
            <div class="row">
                <h3 class="card-title">بازیابی رمز عبور</h3>
                <form asp-action="Security2" asp-controller="Account">
                    <div class="form-group col-md-6">
                        <label>آدرس ایمیل</label>
                        <input name="UserName" type="email" class="form-control" placeholder="ایمیل را وارد کنید">
                    </div>

                    <button type="submit" class="btn btn-success mt-4">ادامه</button>
                </form>
            </div>
        </div>
    </div>
</div>
