input[type=date] {
    border-radius: 5px;
    text-align:right
}
input[type=password] {
    border-radius: 5px;
}
input[type=email] {
    border-radius: 5px;
}
input[type=text] {
    border-radius: 5px;
}
